.mat-toolbar {
    height: auto;
    .container {
        padding-top: 3em;
        h1 {
            font-size: 4rem;
        }
        p {
            font-weight: 300;
            font-size: 1.2rem;
        }
        .mat-form-field {
            width: 100%;
        }
    }
}