<mat-toolbar color="primary">
  <div class="container">
    <div class="d-flex flex-column align-items-center justify-content-between">
      <h1>MyCollection_3</h1>
      <p>Meu acervo virtual</p>
      <div style="width: 80%;">
        <form class="example-form">
          <mat-form-field appearance="legacy">
            <input matInput [formControl]="myControl" [matAutocomplete]="auto"
            placeholder="Busque na minha lista de livros, filmes e séries">
            <mat-icon matSuffix>search</mat-icon>
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
              <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{option.title}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </form>
      </div>
    </div>
  </div>
</mat-toolbar>
