.conteudo {
    padding: 10px;
  mat-card-content {
    .text-custom-header {
      span {
        p {
          color: #5f4d80;
          margin-bottom: 0;
        }
        h4 {
          color: #5442c6;
        }
      }
    }
    .text-custom-content {
      span {
        p {
          color: #5f4d80;
          margin-bottom: 0;
        }
        h4 {
          color: #5442c6;
          font-size: 16px;
        }
        article {
          color: #8c8c8c;
        }
      }
    }
  }
}
