.container {
    padding-top: 3em;
    margin-bottom: 3em;    

    

    @media screen and (min-width: 40em) {
        app-card {
            flex: 0 1 calc(50% - 1em);
        }
    }   
    
    @media screen and (min-width: 52em) {
        
        app-card {
            width: 80%;
            flex: 0 1 calc(20% - 1em);
        }
    }
}

