/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #e2e2e2; }

.owl-carousel .owl-stage-outer {
    padding: 2px;
}

.owl-carousel .owl-item img {
    width: -webkit-fill-available;
    object-fit: contain;
    height: 145px;
}
